#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#One {
  background: #f2f5f8;
  width: 553px;
  height: 177px;
  border-radius: 8px;
  left: 116px;
  top: 390px;
}

#Twe {
  height: 177px;
  background: #f2f5f8;
  border: 2px dashed #c7cdd3;
  border-radius: 8px;
  left: 116px;
  top: 142px;
}

#Three {
  background: #f2f5f8;
  width: 553px;
  height: 177px;
  border-radius: 8px;
  left: 116px;
  top: 634px;
}

#Four {
  height: 177px;
  background: #f2f5f8;
  border: 2px dashed #c7cdd3;
  border-radius: 8px;
  left: 116px;
  top: 883px;
  margin-top: 15px;
}

#TweCentralizar {
  margin-top: 40px;
}

#OneCentralizar {
  margin-top: 0px;
}

#TweSvgUm {
  position: absolute;
  margin-left: -100px;
  margin-top: 10px;
}

#TwePum {
  left: 44.26%;
  right: 40.05%;
  top: 14.1%;
  bottom: 84.18%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;

  color: #495567;
}

#TwePdois {
  left: 33.42%;
  right: 33.29%;
  top: 15.82%;
  bottom: 82.46%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #677489;
}

#OnePum {
  left: 37.37%;
  right: 40.56%;
  top: 30.47%;
  bottom: 67.54%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;

  color: #c64d32;
}

#OneUum {
  left: 37.37%;
  right: 53.83%;
  top: 32.6%;
  bottom: 65.41%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;

  letter-spacing: -0.02em;
  text-decoration-line: underline;

  color: #3d485f;
}

#OneSvgum {
  position: absolute;
  margin-left: 240px;
  margin-top: -70px;
}

#OneSvgdois {
  position: absolute;
  margin-top: -60px;
  margin-left: -250px;
}

#OneSvgtres {
  position: absolute;
  margin-left: -200px;
  margin-top: -12px;
}

#FourPum {
  left: 39.67%;
  right: 27.04%;
  top: 67.06%;
  bottom: 31.22%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;

  color: #677489;
}

#ThreeSvgdois {
  position: absolute;
  margin-left: -210px;
}

#ThreeSvgtres {
  position: absolute;
  margin-left: -160px;
  margin-top: 45px;
}

#FourPdois {
  left: 50.51%;
  right: 33.8%;
  top: 65.34%;
  bottom: 32.94%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;

  color: #495567;
}

#FourDivdois {
  margin-top: 50px;
}

#FourSvgdois {
  position: absolute;
  margin-left: -250px;
  margin-top: -100px;
}

#FourSvgtres {
  position: absolute;
  margin-left: -200px;
  margin-top: -50px;
}

#ThreeSvgquatro {
  position: absolute;
  margin-left: 240px;
  margin-top: -20px;
}

#ThreeButtonUm {
  position: absolute;
  width: 109px;
  height: 32px;
  left: 460px;
  top: 752px;

  background: #3d485f;
  border-radius: 16px;
  color: white;

  margin-top: -200px;
  margin-left: 200px;
}
